/* fonts */
@import url("https://fonts.googleapis.com/css?family=Cute+Font|Merienda");
@import url("https://fonts.googleapis.com/css?family=Akronim");

/* header */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}

.head{
  color: black;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 450%;
}

#desc{
  color: black;
  font-family: "Merienda";
  font-size: 450%;
  text-decoration: underline;
}

.join{
  color: chocolate;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 450%;
}

.hed{
  color: black;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 400%;
}

.taste{
  color: sienna;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 500%;
}

#tasty{
  color: white;
  font-family: "Merienda";
  font-size: 160%;
}

.sneak{
  color: black;
  font-family: "Akronim";
  font-size: 450%;
  text-decoration: underline;
}

#peek{
  color: white;
  font-family: "Merienda";
  font-size: 160%;
}

.enjoy{
  color: sienna;
  font-family: "Akronim";
  font-size: 450%;
  text-decoration: underline;
}

#time{
  color: white;
  font-family: "Merienda";
  font-size: 160%;
}

#come{
  color: white;
  font-family: "Merienda";
  font-size: 170%;
}

.want{
  color: white;
  font-family: "Akronim";
  font-size: 300%;
}

#wan{
  color: black;
  font-family: "Merienda";
  font-size: 140%;
}

.family{
  color: #fff;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 350%;
}

#fam{
  color: #fff;
  font-family: "Merienda";
  font-size: 200%;
}

.last{
  color: #fff;
  font-family: "Akronim";
  text-decoration: underline;
  font-size: 350%;
}

#final{
  color: #fff;
  font-family: "Merienda";
  font-size: 150%;
}

/* About */

.bg-grey {
  background-color: #f6f6f6;
}

.abot{
font-family: "Akronim";
margin-top: 30px;
}

#us{
  font-family: "Merienda";
  font-size: 110%;
}

#my-image{
  margin-top: 15px;
}


/* features */
h2{
  font-family: "Merienda";
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

/* Orders */

/* Contact us */


/* Footer */

.bg-dark {
  background-color: #000;
}

.social-icons-list{
	width: 100%;
	height: auto;
	margin:auto;
	margin-top: 100px;
}

.social-icons-box h2{
	font-family: "Akronim";
	font-size: 45px;
	text-align: center;
  font-weight: bold;
  color: #fff;
}

h4{
  font-family: "Merienda";
  color: #fff;
}

.social-icons-list ul{
	margin:0px;
	padding: 0px;
	text-align:center;
}

.social-icons-list ul li{
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100%;
  margin:0px 10px;
}

.social-icons-list ul li a{
	display: block;
	color: #fff;
	font-size: 50px;
}
.social-icons-list ul li a i{
	line-height: 10px;
}

.social-icons-list ul li:nth-child(1){
	background:#3b5999;
}
.social-icons-list ul li:nth-child(2){
	background:#55acee;
}
.social-icons-list ul li:nth-child(3){
	background:#e4405f;
}
.social-icons-list ul li:nth-child(4){
	background:#cd201f;
}
.social-icons-list ul li:nth-child(5){
	background:#af0606;
}
.social-icons-list ul li:hover{
  border-radius: 0px;
  transition: 0.5s;
}
.social-icons-list ul li:nth-child(1):hover{
	background:#3b5999;
}
.social-icons-list ul li:nth-child(2):hover{
	background:#55acee;
}
.social-icons-list ul li:nth-child(3):hover{
	background:#e4405f;
}
.social-icons-list ul li:nth-child(4):hover{
	background:#cd201f;
}
.social-icons-list ul li:nth-child(5):hover{
	background:#af0606;
}